# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distributions
build/
dist/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Virtualenv
*.log
pip-wheel-metadata/
*.virtualenv

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# Django stuff:
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
db.sqlite3-journal
local_settings.py
media/
staticfiles/
static/

# Django migrations
**/migrations/

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyCharm
.idea/

# VS Code
.vscode/

# MacOS
.DS_Store

# Thumbnails
.thumbnailcache/

# Files that might contain sensitive data
secrets.json

# Celery beat schedule file
celerybeat-schedule

# Coverage directory used by tools like istanbul
coverage/

# pytest
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# PEP 582; used by e.g. python2.7 in windows
__pypackages__/

# Pyre type checker
.pyre/

# End of https://www.toptal.com/developers/gitignore/api/python,django
